.container{display: inline;
  margin-left: 500px;

}
h2 h3{text-align:center;
  margin-left: 100px;
}
h3 {background-color: gray;}
#exampleImages #effectsImages #solutionImages {text-align: center;
                                                height:200px;
                                                width:200px;
                                              }
  img{border: 1px;}

  .gallery{
    margin: 0 auto;
    width: 1000px;
  }
